<!doctype html>
<html class="theme-default" id="redirect" lang="de-DE">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex">
    <link rel="canonical" href="{{ page.redirect.to }}">
    <meta http-equiv="refresh" content="0; url={{ page.redirect.to }}">
    <script>location="{{ page.redirect.to }}"</script>
    
    <title>Weiterleitung</title>
    {% include_cached cache/favicon.liquid %}
    {% include_cached cache/stylesheet.liquid %}
    <link rel="next" href="{{ page.redirect.to }}">
    <link rel="prefetch" href="{{ page.redirect.to }}" as="document">
  </head>
  <body>
    <div id=inner>
      <h1>Weiterleitung</h1>
      <p>Diese Seite sollte Sie Weiterleiten, clicken Sie <a href="{{ page.redirect.to }}">hier</a> wenn dies nicht passiert ist.</p>
    </div>
  </body>
</html>
